.login {
	height:111px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}

.login input {
	padding:5px;
	margin:5px
 }

body {
  background: white no-repeat center center fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  /* IE Fallback */
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.loginPage {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 285px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding-bottom: 3px;
}

.loginPage h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #0088BA;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.loginPage input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.loginPage input {
  color: #333;
}

.loginPage input:focus {
  color: #333;
  border: 1px solid #0088BA;
}

.loginPage button {
  cursor: pointer;
  background: #0088BA;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.loginPage button:hover {
  background: #369cb8;
}

.button {
  border-radius: 4px;
  background-color: #0088BA;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



