@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

table {
  font-family: Open Sans;
  font-size: 15px;
  color: #212121;
  margin: 0 auto;
  width: 961px;
  border-collapse: collapse;
}
thead th {
  font-size: 20px;
  color: #212121;
  height: 40px;
  border: 1px solid #e6eaed;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7f0fa), to(#dbe8f5));
}

.first {
  padding-right: 40px;
  width: 230px;
  text-align: right;
  border-left: 1px solid #e6eaed;
  border-right:  none;
  font-weight: 200;
}
.odd {
  background-color: #f6f9fb;
}
td {
  text-align:center;
  height: 40px;
  width: 230px;
  font-weight: bold;
  border-bottom: 1px solid #e6eaed;
  border-right: 1px solid #e6eaed;
}
a {
  color: #0088CC;
  text-decoration: none;
}