body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    /*font-family: Muli,sans-serif !important;*/
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0,0,0,.87);
    font-size: 14px;
}
.ui{
  /*font-family: Muli,sans-serif !important;*/
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(0,0,0,.87) !important;
  font-size: 1rem !important;
}
body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.ui.menu {
    font-size: 1.1rem;
    font-weight: bold;
    border-radius:0px !important;
    /*border:0px !important;*/
    min-height: 4em;
    margin:0px !important;
}
.ui.menu img{
  width: 5.3em !important;
}
.ui.avatar.image{
  width: 2em !important;
}
.ui.secondary.pointing.menu{
  /*background: #f3f3f2;*/
}
.menu-width{
  width: 27vw;
  padding: .32857143em 0.3em !important;
}
.img-a:before{
  width: 0px !important;
}
.ui.celled.grid{
  margin: 1em ;
  width: auto;
}
.cell-pad{
  margin: 1em !important;
  width: auto;
  background: #fafafb;
}
.rank-span{
  font-size: .5em;
}
.og-div{
    text-align: center;
    font-size: 2.4em;
    padding-bottom: .4em;
    font-weight: bold;
    color: #5b6779;
}
.og-div-title{
  text-align: center;
  font-size: .5em;
  padding-bottom: .4em;
  font-weight: bold;
  color: #5b6779;
}
.hike{
      font-size: 14px !important;
      color: green;
      /*font-weight: 700;*/
}

.hike1{
      font-size: 16px !important;
      color: green;
      /*font-weight: 700;*/
}
.hike2{
      font-size: 11px !important;
      color: green;
      /*font-weight: 700;*/
}
.hike3{
      font-size: 20px !important;
      color: green;
      /*font-weight: 700;*/
}



.down{
  font-size: 17px !important;
  color: red;
  /*font-weight: 700;*/
}
.digit-span{
  color: green;
}
.card-span{
  font-size: .5em ;
  font-weight: bold;
}
.card-span-small{
  font-size: .5em ;
  font-weight: bold;
}
.digit-span-card{
  font-size: 1.8em ;
  color: #5b6779;
}
.og-card{
      padding-left: 10px;
}
.small-img{
  width: 3em !important;
}
.story {
  max-height: 400px;
  overflow-y: auto;
}
.story-hg {
  /*max-height: 40em;*/
  overflow-y: auto;
}

.event{
   padding-bottom: 2em;
}
.event span{
  color: #606b6d;
}
.item .content{
  text-align: left;
}
.ui.table{
  border:0px;
  border-radius: 0px;
}
/*.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg{
  width: 12em ;
}*/
.ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or{
  font-size: .67571429rem;
}
.DateInput_input{
  padding: 2px 13px 1px !important;
}
.DateRangePickerInput__withBorder{
  border: 0px !important;
}
.icon-bar{
  float: right;
  font-size: 20px !important;
}
.search{
      text-align: center;
}
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
  background: #2982bd !important;
}
.CalendarDay__selected_span{
  background: #2982bd !important;
  border: 1px solid #2982bd !important;
}
.ui.animated.button{
  width: 15em;
}
.ui.grid>.centered.column, .ui.grid>.row>.centered.column
{
  /*border-bottom: 1px solid #e0e1e2*/
}
.shade{
  background: #fff;
    margin: 20px auto;
    display: block;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
}
.news{
  background: #fff;
    margin: 20px auto;
    display: block;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
}


.error-template {padding: 40px 15px;text-align: right;color: #797b80;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.top-pad{
      margin-top: 20vh !important;
}








/* BASIC */
.bg-blue {
  height: 100vh;
}


a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  padding: 30px;
  width: 90%;
  max-width: 422px;
  position: relative;
  padding: 0px;
  text-align: center;
}

#formFooter {
  padding: 10px;
  text-align: center;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.input-og {
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 5px 20px 18px 20px;
}




.type {
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}





/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}


.ui.inverted.dimmer .ui.large.loader, .ui.large.loader
{
  font-weight: bold;
}
.ui.feed>.event{
  width: 100% !important;
}
.ui.feed>.event>.content .extra.text{
  font-size: 1.1em !important;
  max-width:100% !important;
}
.ui.feed>.event>.content .extra.images img{
  width: 10em;
  border-radius: 12px;
}
.ui.feed>.event>.content{
  padding: 2em !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  transition: box-shadow .3s ease-in-out;
  border-radius: 5px;
}
.ui.feed>.event>.content:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  /*background: #d6d6d640;*/
}

.ui.feed>.event>.content .meta{
  float: right;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.recharts-tooltip-label{
  text-transform: capitalize !important;
}
.recharts-text{
  text-transform: capitalize !important;
}

.ui.menu .item{
  color: rgb(105, 107, 121) !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date
{
  left: 135%;

}
.vertical-timeline::before
{
      background: #ded5d5 !important;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left !important;
    padding: 4.8em 19px !important;
    opacity: .7 !important;
    font-weight: bold !important;
    color: black !important;
}
.vertical-timeline-element-icon
{
  color: rgb(255, 255, 255) !important;
  padding-top: 19px !important;
  padding-left: 6px !important;
}
.icon-cl{
      margin-left: 8px !important;
}
.vertical-timeline-element-content{
  width: 45% !important;
}
.vertical-timeline-element-content is-hidden{
  padding: 0px !important;
}
.vertical-timeline-element-content
{
  box-shadow: none !important;
}

.vertical-timeline{
  max-width: 100% !important;
}


/*.vertical-timeline-element {
    margin: -3em 0 !important;
}
.vertical-timeline{
  max-width: none !important;
}*/
.ui.feed>.event>.content
{
      /*background: #c2c2c226;*/
}
.ui.header>.image:not(.icon), .ui.header>img{
  width: 3em !important;
}
.ui.basic.buttons{
  width: 100% !important;
}
.event{
  margin: 0 auto !important;
}
.post{
  margin: 3em !important;
}

.post-head{
  font-size: .9em !important;
  font-weight: 100 !important;
  text-transform: capitalize;
}
.fb-post{
  color: #3B5998 !important;
font-size: 1.4em !important;
}
.twitter-post{
  color: #55acee !important;
font-size: 1.4em !important;
}
.filter-div{
  text-align: center !important;
}
.social-span{
  font-weight: bold;
    font-size: 1.5em;
    margin-top: -2px;
}
.ui.attached.segment{
width: 100% !important;
}
.side-pad{
  padding-left: 6% !important;
  padding-right: 6% !important;
  /*background: #bdc3c714;*/
}
.accordion .ui .styled{
  width: 100% !important;
}
.omega{
  padding-top: 2em !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
}


.omega-2{
  padding-top: 0em !important;
}

.omega-pad{
  padding-top: 12% !important;
  padding-bottom: 29% !important;
}
.omega-pad-2{
  padding-top: 3% !important;
  padding-bottom: 0% !important;
}


.ui .segment{
  height: 100% ;
}
.stack{
  padding-top: 1.5em !important;
}

.ui.segment:first-child{
  margin-top: 1em !important;
}
..ui.grid>.column:not(.row), .ui.grid>.row>.column{
  padding-right: .25em !important;
}
.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.divided.grid:not([class*="vertically divided"])>.row>.column{
  box-shadow: none !important;
}
.ui.grid>.row{
  padding-top: 1em ;
}
.ui.grid>.column:not(.row), .ui.grid>.row>.column
{
  /*padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;*/
}
.ui.grid{
  /*margin-left: -0.20em !important;
  margin-right: -0.55em !important;*/
  margin: 0 ;
}
.pad-row{
  padding-top: 0em !important;
}


.pi-div{

      /*margin: auto auto auto auto;*/
}
.ui.grid+.grid{
  margin-top: 0rem ;
}

.build{
      margin-top: -1.70rem !important;
}
.build-row{
      margin-top: 0.3rem;
          border-top: 1px solid #d4d4d5;
}

.post-data{
  width: 100%;
text-align: center;
font-weight: bold;
}

.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column{
}

.map{
  max-height: 15em;
  overflow-y: scroll;

}

.filter-box{
      box-shadow: 0 0 20px rgba(34,36,38,.15);
}

/*.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.item,.ui.label{
  text-transform: capitalize !important;
}

.ui.progress .bar {
    height: 1.5em;
}
.border{
      border-right: 1px solid #d4d4d5;
}

.social-font{
  font-size: 0.3em
}

.main-pad{
  border-bottom: 1px solid #d4d4d5;
    margin-bottom: 1em !important;
}
.graph-bottom{
    margin: 0;
    position: absolute;
    bottom: 0;
}
.progress-flux{
  display: grid !important;
align-items: flex-end !important;
}

.ui.progress:last-child{
  margin: 0 !important;
}



.hike span:nth-child(2) {
    font-weight: 100 !important;
}
.hike1 span:nth-child(2) {
    font-weight: 100 !important;
}
.hike2 span:nth-child(2) {
    font-weight: 100 !important;
}
.hike3 span:nth-child(2) {
    font-weight: 100 !important;
}

i.icon{
  margin: 0 -0.4rem 0 -5px;
  cursor: pointer !important;
}

.table i.icon{
  margin: 0 0rem 0 0;
}

/*.ui.grid>.column:not(.row), .ui.grid>.row>.column{
  padding-right: 0em !important;
}*/

.border-col{
      border-right: 1px solid #dfe0e0;
}
.border-row{
      border-bottom: 1px solid #dfe0e0;
}

.beta .ui.grid>.column:not(.row){
  padding: 0.2rem !important;
}
.ui.grid{
  background: white !important;
}

.beta .ui.grid{
  background: none !important;
}
.ui.mini.image, .ui.mini.images .image, .ui.mini.images img, .ui.mini.images svg{
  width: 3em !important;
}

.border-none{
      border-left: 0px solid rgba(34,36,38,.1) !important;
}
.entity-over{
  max-height: 90vh;
  min-height: 90vh;
  overflow-y: scroll;
  text-transform: capitalize;
  /*font-weight: bold;*/
}
.text-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-center-pad{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em !important;
  font-size: 1.6em;
  font-weight: bold;
  color: #5b6779;
  padding: 0.3em !important;
  padding-bottom: 1em !important;
  text-transform: capitalize;
  padding-top: 1em !important;

}
.mid {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.font {
  font-size: 1em !important;
}




.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg{
  width: 6em ;
  transition: width 0.1s ease-in-out !important;
}

.img-rectangular img {
    width: 3em !important;
}



.font-ad{
  font-size: 1.2rem !important;
  margin-top: 1em;
  color: #5b6779;
}

.font-ad span{
  font-size: 1.9em;
  font-weight: bold;
}

.segmant-hg{
  height: auto !important;
}
.pad-eq{
  padding-left: 5em;
padding-right: 5em;
}
.recharts-wrapper{
  text-transform: capitalize !important;
}
.content{
  /*font-weight: bold;*/
  text-transform: capitalize;
}

.text-center .content {
  font-size: 1.3em !important;
}


.text-center-pad span{
  font-size: 0.6em !important;
  font-weight: 100;
  padding-left: 1em;

}

.text-center-pad .row{
  font-size: 0.8em !important;
  padding-bottom: 0em !important;
  padding-top: 0.2em !important;
}

.ui.menu.fluid, .ui.vertical.menu.fluid{
  width: 98% ;
  margin: 1em !important;
}
.beta{
  margin: 1em !important;
}

.ui.attached.item.menu{
  margin: 1em ;
}
.omega{
  padding-top: 1em !important;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.white-fix div{
  background: white;
  z-index: 1000;

}
.DateRangePicker_picker{
  z-index: 1001 !important;
}

.append-mg{
  margin-top: 20em !important;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.hide-ds{
  display: none !important;
}
.date-text{
    font-size: 1.285714em;
    font-weight: bold;
    opacity: 0.45;
}
.date-text span {
  color:#4285f4
}

.date-text .slider{float: right !important;}
.og-div .slider{float: left !important;}

.menu-attach{
  margin: 0em !important;
  width: 100% !important;
}

.text-help{
  text-transform:none !important;
}
